body{
    margin:0;
    padding:0;
}
.carousel-inner{
    height:600px;
    width:600px;

}
.image1{
    height: 500px;
    width: 500px;


}
.image2{
    height: 500px;
    width: 500px;

}
.image3{
    height: 500px;
    width: 500px;

}
p{
    color:black;
    background: lightblue;
    max-width:500px;
}